<nav class="navbar">
    <div class="navbar-left">
        <a routerLink="/home" class="logo">Swiggy</a>
    </div>
    <div class="navbar-center">
        <input type="text" placeholder="Search for restaurants and food" class="search-bar">
    </div>
    <div class="navbar-right">
        <a routerLink="home" class="nav-link">Offers</a>
        <a routerLink="restaurant" class="nav-link">ADD Restaurant</a>
        <a routerLink="rating" class="nav-link">Sign In</a>
        <a routerLink="cart" class="nav-link">Cart</a>
    </div>
</nav>
